@charset "utf-8";
/* CSS Document 
 * author: @CleiverFossi
 * Version: 2
 * Modificado por : Marco Adarme
 */


body{
	width:961px;
	font-size:16px;
	font-family: Helvetica, Arial;
	padding:0px;
	margin:0 auto;
	overflow:auto;
}
h1,h2,h3,h4{ 
	color:#c31111; 
	margin:0;
}
p{
	margin:0;
	text-align:justify;
}
a{
	text-decoration:none;
	color:#e08282; 
}
a:hover{
	color:#c31111;
}
table{
	display: inline-block;
	background:#e08282; 
	overflow:hidden;
	border-collapse:collapse; 
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
} 
table th{
	color:#FFF;
	text-align:center;
	padding:10px 10px;
	background-color:#c00;
	height:20px;
}
table tr:nth-child(even) {/* css3 */ 	
 	color:#fff;
	background:#e08282; 
}
table tr:nth-child(odd) {/* css3 */
	background: #fff;
}
table tr:hover{
	color:#fff;
	background-color: #990000;
}
form{
	display:block;
	width:400px;
	padding:10px;
	border:2px solid #CCC;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}
form h1, .form h2, .form h3{ 
	color:#c00; 
}
form label{
	display:block;
	font-weight:bold;
	text-align:right;
	width:140px;
	float:left;
}
form span{
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:140px;
}
form input ,form textarea,form select{
	background-color:#f0f0f0;
	float:left;
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #e08282;
	width:200px;max-width:200px;
	margin:2px 0 20px 10px;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}
form input:focus, form textarea:focus,form select:focus{
	background-color:#FFF;
}
input[type="submit"], input[type="button"], input[type="reset"]{
	margin:2px 0 0px 10px;
	background-color:#c00;
	font-size:15px;
	font-weight:bold;
	float:right;
	cursor:pointer;
	width:auto;
	padding:5px 10px;
	color:#FFF;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#c00));background: -moz-linear-gradient(top, white, #c00);/* css3 */ 
}
input[type="submit"]:hover , input[type="button"]:hover, input[type="reset"]:hover{
	background-color:#e08282;
	background: -webkit-gradient(linear, left top, left bottom, from(#c00), to(white)); /* css3 */
	background: -moz-linear-gradient(top, #c00, white); /* css3 */
}
input[type="radio"],input[type="checkbox"]{
	clear:both;
	margin-left:130px;
	padding:0;
	clear:both;
	width:20px;
	text-align:right;
	clear:both;
	height:15px;
	margin-bottom:0px;
}
form .radio,form .checkbox{
	line-height:20px;
	margin-bottom:0px;
	font-size:12px;
	padding:4px 2px;
	display:block;
	float:left;
	font-size:12px;
	height:15px;
	width:200px;
}

#banner{
	background-color:#ffffff;
	background-image:url("http://www.madarme.co/portada-web.png");
	background-position:bottom center;
	
	 height: 200px; 
      width: auto; 
       
       background-size:contain;
       background-repeat:no-repeat;

	overflow:hidden;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
	
}
#banner .titulo{
	margin:15px 0;
	color:#c31111;
	text-align:right;
	margin-right:200px;
	font-size:23px;
	font-weight:bold;
}
#banner .subtitulo{
	color:#c31111;
	text-align:right;
	margin-right:200px;
	font-size:18px;
	font-weight:normal;
}

#contenido{
	border:2px solid #CCC;
	background-color:#FFF;
	margin:0 auto;
	width:96%;
	height:auto;
	padding:15px;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}
#pie{
	color:#FFF;
	width:100%;
	text-align:center;
	background-color:#e08282;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#c00));background: -moz-linear-gradient(top, white, #c00); /* css3 */
}
#pie a{
	color:#FFF;
	text-decoration:none;
}
.center{
	margin:0 auto;
}
.clear{
	width:1px;
	clear:both;
}

/*Estilos por: Santiago Serrano*/

.titulo{
    position:relative;
    left: -50px;
}

.subtitulo{
    position: relative;
    top: -20px;
}

.home{
	width: 80px;
	height:80px;
	position: relative;
	left: 430px;
	bottom: 20px;
}

.home:hover{

    cursor:pointer;
	filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.87));
	
}

[class^="img"]{
	filter: drop-shadow(2px 2px 5px rgba(42, 40, 40, 0.87));
}

.img-me{

    width: 118px;
    height: 110px;
    margin-top: -80px;
    margin-left: 770px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.img-social{
	position: relative;
	width: 119px;
	height: 112px;
	border-radius: 30px;
	margin: 10px 30px 10px 50px;
}

.img-social:hover{
	transform: scale(1.2,1.2);
	filter: drop-shadow(2px 5px 4px rgba(191, 59, 59, 0.87));
}

.img-skills{
	position:relative;
	width: 230px;
	height: 230px;
	top: -100px;
	right: -200px;
}
.img-projects{
	width: 120px;
}
.img{
	width: 219px;
	height: 219px;
	position: relative;
	left: 600px;
	top :-20px;

}

.foot-content{
	position: relative;
	top: 50px;
}

.texto{
	position: relative;
	display: inline-block;
	margin: 20px;
	font-size: 1.3em;
	width: 760px;
	height: 78px;
	line-height: 25px;
	color: #5B5B5B;

}



.tabla{
	margin: 40px;
	filter: drop-shadow(2px 2px 5px rgba(61, 53, 53, 0.87));
}

.tabla td{
	padding: 5px 20px 5px 20px;
	font-size: 1.2em;
	border: #414040 1px solid;
}


.nombre,.social-media{
	text-align: center;

}
.social-content{
	display: inline-block;
	border-radius: 20px;
	align-content: center;
	margin-left: 150px;
}